In [1]:
from utils import *
import pandas as pd
import seaborn

df = load_data('../data/train.csv')
df = normalise_data(df)
df
# seaborn.pairplot(df)

,ID,datetime,temperature,var1,pressure,windspeed,var2,electricity_consumption
0,0,2013-07-01 00:00:00,0.140049,0.306796,0.704225,0.974911,0,216.0
1,1,2013-07-01 01:00:00,0.122850,0.264078,0.605634,0.980257,0,210.0
2,2,2013-07-01 02:00:00,0.103194,0.250485,0.661972,0.986055,0,225.0
3,3,2013-07-01 03:00:00,0.140049,0.306796,0.591549,0.993134,0,216.0
4,4,2013-07-01 04:00:00,0.140049,0.264078,0.732394,1.000000,0,222.0
...,...,...,...,...,...,...,...,...
26491,34891,2017-06-23 19:00:00,0.402948,0.347573,0.788732,0.086435,0,225.0
26492,34892,2017-06-23 20:00:00,0.348894,0.417476,0.732394,0.093984,0,213.0
26493,34893,2017-06-23 21:00:00,0.385749,0.388350,0.591549,0.102814,0,213.0
26494,34894,2017-06-23 22:00:00,0.348894,0.417476,0.605634,0.112950,0,210.0
26495,34895,2017-06-23 23:00:00,0.368550,0.417476,0.788732,0.120926,0,210.0